/* 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

html {
  scroll-behavior: smooth;
}

/* Header */

header {
	background: #e9e9e9;
	padding-top: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.fa-gem {
	font-size: 1.5rem;
}

/* Navigation */

.nav_header {
	display: flex;
}

.nav_header_l {
	display: flex;
}

.h_list {
	color: #191919;
	text-transform: uppercase;
	font-size: 1.1rem;
	padding: 0.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .1s color linear;
}

.h_list:hover {
	text-decoration: none;
	color: #10c9c3;
}

.nav_side {
	display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
	color: #e9e9e9;
	}
			
.sidenav_links {	
   text-transform: uppercase;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #e9e9e9;
}


@media screen and (max-width: 740px) {
	.nav_side {display: flex;}
	.nav_header_l { display: none; }
}

/* Main */

main {
	background: #fff;
}

.begin {
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #e9e9e9;
	padding-top: 180px;
	padding-bottom: 180px;
}

.begin_r {
	vertical-align: middle;
}

.begin_title {
	color: #1d1d1d;
	font-size: 2.5rem;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1.5rem;
}

.begin_subtitle {
	margin-top: 0;
	font-size: 1.1rem;
	margin-left: 0.3rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	color: #808080;
	margin-bottom: 1.5rem;
}

.begin_button {
	margin-left: 0.3rem;
	color: #fff;
	background: #10c9c3;
	padding: 15px 40px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	transition: all .1s linear;
}

.begin_button:hover {
	text-decoration: none;
	color: #fff;
	background: #10aba6;
}

@media screen and (max-device-width: 740px) {
	.begin {
		display: block;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width: 740px) {
	.begin {
		display: block;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-device-width: 900px) {
	.begin {
		display: block;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width: 900px) {
	.begin {
		display: block;
		align-items: center;
		text-align: center;
	}
}

/* About */

.about {
	text-align: center;
	background: #fff;
	margin-top: 100px;
	margin-bottom: 5rem;
}

.about_title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: #191919;
	margin-bottom: 0;
}

.about_subtitle {
	font-size: 1rem;
	color: #8a8a8a;
	font-weight: 400;
	font-family: 'Nunito Sans', sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 0; 
}

.about_sign {
	margin-top: 1.5rem;
}

/* Skills */

.skills {
	width: 100%;
	display: flex;
	margin-bottom: 0;
}

.skill_l {
	width: 50%;
	background: #e9e9e9;
}

.skill_r {
	width: 50%;
	background: #e9e9e9;
}

.skills_title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2rem;
}

*{
  box-sizing: border-box;
}

.items_l {
  position: relative;
  width: 50%;
  height: 400px;
}

.item-a {
	text-align: center;
}

.item-a,
.item-b {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 20px;
  text-transform: capitalize;
}

.item-a {
  background: #e9e9e9;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.item-a_text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #000;
	font-size: 2em;
	font-weight: 700;
}

.item-a.flip1{
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.item-b {
  color: #171717;	
  background: #f8f9f9;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.item-b.flip2{
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

p {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  margin-top: 40px;
}


.skill_ui {
	color: #111111;
	font-size: 0.8rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.skill_web {
	color: #111111;
	font-size: 0.8rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.skill_mark {
	color: #111111;
	font-size: 0.8rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.items_r {
  position: relative;
  width: 50%;
  height: 400px;
}

.item-c,
.item-d{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.item-c{
  background: #e9e9e9;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.item-c.flip1{
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.item-d{
  background: #f8f9f9;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.item-d.flip2{
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.progress {
	height: 3px;
	background: #d8d8d8;
}

.progress-bar {
	background: #10c9c3;
}

@media screen and (max-device-width: 650px) {

	.items_l {
		position: relative;
		text-align: center;
		vertical-align: middle;
		align-items: center;
	}

	.items_r {
		text-align: center;
		vertical-align: middle;
		align-items: center;
	}

	.skills_title {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 650px) {

	.items_l {
		text-align: center;
		vertical-align: middle;
		align-items: center;
	}

	.items_r {
		text-align: center;
		vertical-align: middle;
		align-items: center;
	}

	.skills_title {
		font-size: 1.5rem;
	}
}

/* About Bar */

.about_bar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.about_bar_block {
	padding-top: 5rem;
	padding-bottom: 5rem;
 	width: 25%;
 	background: #10c9c3;
 	display: flex;
 	justify-content: center;
 	vertical-align: middle;
 	align-items: center;
 	color: #fff;
}


.fa-briefcase {
	font-size: 3rem;
	padding-right: 1rem;
}

.about_bar1_title {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.about_bar1_subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.fa-clock {
	font-size: 3rem;
	padding-right: 1rem;
}

.about_bar2_title {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.about_bar2_subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}


.fa-star {
	font-size: 3rem;
	padding-right: 1rem;
}

.about_bar3_title {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.about_bar3_subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.fa-heart {
	font-size: 3rem;
	padding-right: 1rem;
}

.about_bar4_title {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.about_bar4_subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

@media screen and (max-width: 740px) {
	.about_bar {
		display: grid;
	}
	.about_bar_block {
		width: 100%;
		padding-top: 1.5rem; 
		padding-bottom: 1.5rem;
	}
}

@media screen and (max-width: 950px) {
	.about_bar_block {
		padding-top: 2rem; 
		padding-bottom: 2rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 1240px) {
	.about_bar_block {
		padding-top: 3rem; 
		padding-bottom: 3rem;
	}
}

/* Work */

.work_info, .work_left_top, .work_left_bot, .work_right_top, .work_right_bot {
	display: flex;
}

.work_left, .work_right {
	display: block;
}

.work, .work_left, .work_left_top, .work_left_bot, .work_right, .work_right_top, .work_right_bot {
	width: 100%;
}

.work_left_block1 {
	width: 50%;
	height: 20rem;
	background: #838383;
}

.work_left_block2 {
	width: 50%;
	height: 20rem;
	background: #dddddd;
}

.work_left_block3 {
	width: 50%;
	height: 20rem;
	background: #dddddd;
}

.work_left_block4 {
	width: 50%;
	height: 20rem;
	background: #838383;
}

.work_bot_block1 {
	width: 50%;
	height: 20rem;
	background: #838383;
}

.work_bot_block2 {
	width: 50%;
	height: 20rem;
	background: #dddddd;
}

.work_bot_block3 {
	width: 50%;
	height: 20rem;
	background: #dddddd;
}

.work_bot_block4 {
	width: 50%;
	height: 20rem;
	background: #838383;
}

@media screen and (max-width: 1240px) {
	.work_left_block1, .work_left_block2, .work_left_block3, .work_left_block4, .work_bot_block1, .work_bot_block2, .work_bot_block3, .work_bot_block4 {
		height: 15rem;
	}
}

@media screen and (max-width: 900px) {
	.work_info {
		display: block;
	}

	.work_left_block1, .work_left_block2, .work_left_block3, .work_left_block4, .work_bot_block1, .work_bot_block2, .work_bot_block3, .work_bot_block4 {
		height: 10rem;
	}
}

@media screen and (max-width: 740px) {
	.work_left_top, .work_left_bot, .work_right_top, .work_right_bot {
		display: block;
	}

	.work_left_block1, .work_left_block2, .work_left_block3, .work_left_block4, .work_bot_block1, .work_bot_block2, .work_bot_block3, .work_bot_block4 {
		width: 100%;
		height: 5rem;
	}

	.work_left_block3, .work_bot_block1, .work_bot_block3 {
		background: #838383;
	}

	.work_left_block4, .work_bot_block4 {
		background: #dddddd;
	}
}

.work_load {
	background: #f5f5f5;
	text-align: center;
	transition: background .1s linear;
}

.work_load_text {
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem; 
	transition: color .1s linear;
}

.work_load:hover {
	background: #959595;
}

.work_load_text:hover {
	color: #f5f5f5;
}

@media screen and (max-width: 900px) {
	.work_load_text {
		padding-top: 2.5rem;
		padding-bottom: 1.5rem;
	}
}

@media screen and (max-width: 740px) {
	.work_load_text {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}

/* Process */

.process {
	margin-top: 6rem;
	width: 100%;
}

.process_text {
	text-align: center;
	margin-bottom: 9rem;
}

.process_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #191919;
	margin-bottom: 1rem;
}

.process_subtitle {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	color: #787878;
}

.process_video {
	width: 86%;
	background: #e9e9e9;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: 7%;
	height: 40rem;
}

.fa-play {
	font-size: 2rem;
	color: #ffffff;
}

.round {
	width: 5rem;
  	height: 5rem;
  	border-radius: 50%;
  	line-height: 5.5rem;  /* подробнее про line-height */
  	text-align: center;  /* выравнять текст по середине по горизонтали */
  	background: #10c9c3;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1240px) {
	.process_video {
		height: 30rem;
	}
}

@media screen and (max-width: 900px) {
	.process_video {
		height: 20rem;
	}
}

@media screen and (max-width: 740px) {
	.process_video {
		height: 15rem;
	}
}

/* Services */

.services {
	width: 100%;
	background: #f5f5f5;
	padding-top: 6rem;
	margin-top: 6rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.fa-sitemap, .fa-mobile-alt, .fa-gamepad, .fa-paper-plane, .fa-magic, .fa-fill-drip {
	font-size: 3rem;
	color: #656565;
	margin-bottom: 1.5rem;
}

.service_title {
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #191919;
}

.service_subtitle {
	font-size: 1rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	color: #787878;
	margin-bottom: 4rem;
}

@media screen and (max-width: 1240px) {
	.services {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.services {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 650px) {
	.services {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Carousel */

.carousel-inner {
	text-align: center;
	height: 31rem;
}

.carousel-indicators li {
	border-radius: 100%;
	width: 10px;
	height: 10px;
}

.carousel-item {
	padding-top: 10rem;
  }

.carousel_item_title {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  	font-size: 2rem;
  	color: #fff;
  }

.carousel_item_subtitle {
  	font-size: 0.9rem;
  	font-weight: 400;
  	font-family: 'Nunito Sans', sans-serif;
  	color: #fff;
  	text-transform: uppercase;
  }

@media screen  and (max-width: 1240px) {
  		.carousel_item_title {
  			font-size: 1.8rem;
  		}

  		.carousel-inner {
  			height: 25rem;
  		}
  }

@media screen  and (max-width: 970px) {
  		.carousel_item_title {
  			font-size: 1.6rem;
  		}
  }

@media screen  and (max-width: 900px) {
  		.carousel_item_title {
  			font-size: 1.4rem;
  		}

  		.carousel-inner {
  			height: 23rem;
  		}
  }

@media screen  and (max-width: 760px) {
  		.carousel_item_title {
  			font-size: 1.2rem;
  		}

  		.carousel-inner {
  			height: 21rem;
  		}
  }

@media screen  and (max-width: 650px) {
  		.carousel_item_title {
  			font-size: 1.1rem;
  		}

  		.carousel_item_subtitle {
			font-size: 0.8rem;
  		}

  		.carousel-item {
			padding-top: 9rem;
  		}
  }

@media screen  and (max-width: 605px) {
  		.carousel_item_title {
  			font-size: 1rem;
  		}

  		.carousel_item_subtitle {
			font-size: 0.8rem;
  		}

  		.carousel-item {
			padding-top: 8rem;
  		}
  }

@media screen  and (max-width: 605px) {
  		.carousel_item_title {
  			font-size: 0.9rem;
  		}

  		.carousel_item_subtitle {
			font-size: 0.7rem;
  		}

  		.carousel-item {
			padding-top: 8rem;
  		}
  }

  /* Clients */

.clients {
	width: 100%;
	background: #fff;
	margin-top: 4rem; 
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}

.client_img {
	margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
	.clients {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 400px) {
	.clients {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 350px) {
	.clients {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Project */

.project {
	background: #f5f5f5;
	width: 100%;
	margin-top: 4rem;
	padding-bottom: 6.4rem;
}

.project_text {
	text-align: center;
	padding-top: 6.3rem;
}

.project_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #191919;
	margin-bottom: 1.5rem;
}

.project_subtitle {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	color: #787878;
}

.project_form {
	align-items: center;
    display: flex;
    justify-content: center;
}

form {
	margin-top: 2.5rem;
}

.form_name {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1rem;
	width: 20rem;
	border: none;
	color: #787878;
	padding-left: 24px;
	height: 49px;
}

.form_email {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1rem;
	width: 20rem;
	border: none;
	color: #787878;
	padding-left: 24px;
	height: 49px;
	margin-left: 2rem;
}

.form_title {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1rem;
	width: 42.4rem;
	border: none;
	color: #787878;
	padding-left: 24px;
	height: 49px;
}

textarea {
	height: 130px;
	width: 42.4rem;
	resize: none;
	border: none;
	color: #787878;
	padding-left: 24px;
	font-size: 1rem;
}

.form_button {
	text-align: center;
}

.form_btn {
	border: none;
	background: #10c9c3;
	color: #fff;
	padding: 1em 3em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	transition: background .1s linear;
}

.form_btn:hover {
	background: #03aca6;
}

@media screen and (max-width: 900px) {
	.form_name, .form_email {
		width: 18rem;
	}

	.form_title, textarea {
		width: 38.4rem;
	}
}

@media screen and (max-width: 680px) {
	.form_email {
		margin-left: 0;
	}

	.form_name, .form_email {
		width: 15rem;
	}

	.form_title, textarea {
		width: 30.4rem;
	}
}

@media screen and (max-width: 550px) {
	.form_email {
		margin-left: 0;
	}

	.form_name, .form_email {
		width: 13rem;
	}

	.form_title, textarea {
		width: 26.4rem;
	}
}

@media screen and (max-width: 455px) {
	.form_email {
		margin-left: 0;
	}

	.form_name, .form_email {
		width: 10rem;
	}

	.form_title, textarea {
		width: 20.4rem;
	}
}

/* Footer */

footer {
	width: 100%;
	background: #141414;
	color: #bcbcbc;
	display: flex;
	justify-content: space-around;
	padding-top: 5.5rem;
	font-size: 1.07rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

.footer_title {
	font-size: 1.125rem;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 1.7rem;
}

.footer_subtitle {
	font-size: 1.07rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

.nav_footer {
	display: flex;
	justify-content: space-between;
}

.nav_l2 {
	margin-left: 0.5rem;
}

h3 {
	font-size: 1.07rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

.nav_footer_l {
	color: #bcbcbc;
	transition: color .1s linear;
}

.nav_footer_l:hover {
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 900px) {
	footer, h3, .footer_subtitle {
		font-size: 0.9rem;
	}

	.footer_title {
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	footer {
		text-align: center;
		padding-bottom: 1rem;
	}

	footer, .nav_footer {
	display: block;
	}

	.nav_l2 {
		margin: 0;
	}

	.nav_footer {
		display: flex;
		justify-content: center;
	}

	h3 {
		font-size: 1.07rem;
	}

	.footer_title {
		font-size: 1.125rem;
	}
	
	.footer_subtitle {
		font-size: 1.07rem;
	}
	address {
		font-size: 1.07rem;
	}

	.nav_l2 {
		margin-left: 1rem;
	}
}